<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12">
        <div class="card">
          <div class="card-header">Currencies</div>
          <div class="card-body">
            <div class="table-header d-flex align-items-center justify-content-between flex-wrap">
              <div class="page-size-filter d-flex align-items-center mb-2">
                Show&nbsp;
                <select class="custom-select" v-model="pageSize" @change="page = 1, refreshTable()">
                  <option :value="null">All</option>
                  <option v-for="size in pageSizes" :value="size">{{size}}</option>
                </select>
                &nbsp;entries
              </div>

              <div class="d-flex align-items-center">
                <div class="date-filter d-flex align-items-center mr-3 mb-2">
                  Date:&nbsp;
                  <input type="date" class="form-control" v-model="date" @change="refreshTable">
                </div>
                <div class="base-currency-filter d-flex align-items-center mb-2">
                  <span class="no-wrap">Base Currency:</span>&nbsp;
                  <select class="custom-select" v-model="baseCurrency" @change="refreshTable">
                    <option :value="null">None</option>
                    <option v-for="currency in totalCurrencies" :value="currency.id">{{currency.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <table v-if="currencies" class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nominal</th>
                  <th>Rate</th>
                  <th>Max Rate</th>
                  <th>Min Rate</th>
                  <th>Avg Rate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="currency in currencies" :key="currency.id">
                  <td>{{ currency.name }}</td>
                  <td>{{ currency.nominal }}</td>
                  <td>{{ formatCurrency(currency.rate) }}</td>
                  <td>{{ formatCurrency(currency.max_rate) }}</td>
                  <td>{{ formatCurrency(currency.min_rate) }}</td>
                  <td>{{ formatCurrency(currency.avg_rate) }}</td>
                  <td><a class="btn btn-primary" :href="`/history/${currency.id}`">View History</a></td>
                </tr>
              </tbody>
            </table>

            <div class="table-footer text-right">
              <div v-if="pageSize" class="pagination d-inline-flex align-items-center">
                <button class="btn btn-primary mr-2" :disabled="page <= 1" @click="gotoPage(1)">«</button>
                <button class="btn btn-primary mr-2" :disabled="page <= 1" @click="gotoPage(page - 1)">‹</button>
                <input type="number" class="form-control mr-2" pattern="\d+" v-model="page" :min="1" :max="totalPageCount()" @change="refreshTable">
                <span class="no-wrap">of {{totalPageCount()}}</span>
                <button class="btn btn-primary ml-2" :disabled="page >= totalPageCount()" @click="gotoPage(page + 1)">›</button>
                <button class="btn btn-primary ml-2" :disabled="page >= totalPageCount()" @click="gotoPage(totalPageCount())">»</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  data: () => ({
    date: null,
    currencies: null,
    baseCurrency: null,
    page: 1,
    pageSize: 5,
    pageSizes: [5, 10, 20, 50],
    totalCurrencies: [],
  }),

  methods: {
    refreshTable() {
      axios.get('/api/currencies/search', {
        params: {
          page: this.page,
          page_size: this.pageSize,
          date: this.date,
          base_currency_id: this.baseCurrency,
        },
      }).then((result) => {
        const { date, currencies, total_count } = result.data;
        this.date = date;
        this.currencies = currencies;
        this.totalCount = total_count;
      }).catch((e) => {
        this.currencies = [];
      });
    },
    formatCurrency(value) {
      if (value === undefined || value === null)
        return '-';
      return Math.round(value * 100) / 100;
    },
    totalPageCount() {
      return Math.ceil(this.totalCurrencies.length / this.pageSize);
    },
    gotoPage(number) {
      this.page = number;
      this.refreshTable();
    }
  },

  mounted() {
    axios.get('/api/currencies').then((result) => {
      this.totalCurrencies = result.data;
    });

    this.refreshTable();
  },
}
</script>

<style>
  .no-wrap {
    white-space: nowrap;
  }
</style>
