<template>
  <div class="container">
    <div v-if="histories" class="row justify-content-center">
      <div class="col-md-10 col-12">
        <line-chart :histories="histories" />

        <div class="card">
          <div class="card-header">{{currency.name}}</div>
          <div class="card-body">
            <div class="table-header d-flex align-items-center justify-content-between flex-wrap">
              <div class="page-size-filter d-flex align-items-center mb-2">
                Show&nbsp;
                <select class="custom-select" v-model="pageSize" @change="page = 1, refreshTable()">
                  <option :value="null">All</option>
                  <option v-for="size in pageSizes" :value="size">{{size}}</option>
                </select>
                &nbsp;entries
              </div>

              <div class="d-flex align-items-center">
                <div class="date-filter d-flex align-items-center mr-3 mb-2">
                  Date:&nbsp;
                  <input type="date" class="form-control" v-model="dateFrom" @change="page = 1, refreshTable()">
                  &nbsp;~&nbsp;
                  <input type="date" class="form-control" v-model="dateTo" @change="page = 1, refreshTable()">
                </div>
                <div class="base-currency-filter d-flex align-items-center mb-2">
                  <span class="no-wrap">Base Currency:</span>&nbsp;
                  <select class="custom-select" v-model="baseCurrency" @change="refreshTable">
                    <option :value="null">None</option>
                    <option v-for="currency in currencies" :value="currency.id">{{currency.name}}</option>
                  </select>
                </div>
              </div>
            </div>

            <table v-if="histories" class="table table-bordered">
              <thead>
              <tr>
                <th>Date</th>
                <th>Rate</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="history in histories" :key="history.id">
                <td>{{ history.date }}</td>
                <td>{{ formatCurrency(history.rate) }}</td>
              </tr>
              </tbody>
            </table>

            <div class="table-footer text-right">
              <div v-if="pageSize" class="pagination d-inline-flex align-items-center">
                <button class="btn btn-primary mr-2" :disabled="page <= 1" @click="gotoPage(1)">«</button>
                <button class="btn btn-primary mr-2" :disabled="page <= 1" @click="gotoPage(page - 1)">‹</button>
                <input type="number" class="form-control mr-2" pattern="\d+" v-model="page" :min="1" :max="totalPageCount()" @change="refreshTable">
                <span class="no-wrap">of {{totalPageCount()}}</span>
                <button class="btn btn-primary ml-2" :disabled="page >= totalPageCount()" @click="gotoPage(page + 1)">›</button>
                <button class="btn btn-primary ml-2" :disabled="page >= totalPageCount()" @click="gotoPage(totalPageCount())">»</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {

    props: ['id'],

    data: () => ({
      dateFrom: null,
      dateTo: null,
      currency: null,
      currencies: [],
      histories: null,
      baseCurrency: null,
      page: 1,
      pageSize: 5,
      totalCount: 0,
      pageSizes: [5, 10, 20, 50],
    }),

    methods: {
      refreshTable() {
        axios.get(`/api/currency/${this.id}/history`, {
          params: {
            page: this.page,
            page_size: this.pageSize,
            date_from: this.dateFrom,
            date_to: this.dateTo,
            base_currency_id: this.baseCurrency,
          },
        }).then((result) => {
          const { currency, histories, total_count } = result.data;
          this.currency = currency;
          this.histories = histories;
          this.totalCount = total_count;
        }).catch((e) => {
          this.histories = [];
        });
      },
      formatCurrency(value) {
        if (value === undefined || value === null)
          return '-';
        return Math.round(value * 100) / 100;
      },
      totalPageCount() {
        return Math.ceil(this.totalCount / this.pageSize);
      },
      gotoPage(number) {
        this.page = number;
        this.refreshTable();
      }
    },

    mounted() {
      axios.get('/api/currencies').then((result) => {
        this.currencies = result.data.filter((currency) => currency.id.toString() !== this.id.toString());
      });

      this.refreshTable();
    },
  }
</script>

<style>
  .no-wrap {
    white-space: nowrap;
  }
</style>
