<template>
  <div ref="container" style="width: 100%; height: 50vh;">
    <svg v-if="chartData" width="100%" height="100%" baseProfile="full" preserveAspectRatio="xMaxYMax"
         xmlns="http://www.w3.org/2000/svg">

      <line v-for="xAxe in xAxis" :x1="xAxe.pos" :y1="yPadding" :x2="xAxe.pos" :y2="height - yPadding" stroke="#eee" stroke-width="1" />
      <text v-for="xAxe in xAxis" :x="xAxe.pos - 25" :y="height - yPadding + 25">{{xAxe.label}}</text>

      <line v-for="yAxe in yAxis" :x1="xPadding" :y1="yAxe.pos" :x2="width" :y2="yAxe.pos" stroke="#eee" stroke-width="1" />
      <text v-for="yAxe in yAxis" :x="0" :y="yAxe.pos + 5">{{formatNumber(yAxe.label)}}</text>

      <polyline fill="none" stroke="#3490dc" stroke-width="3" :points="graphPath" />

      <circle v-for="point in chartData" :cx="point.xPos - 2" :cy="point.yPos - 2" :r="4" fill="white" stroke="#3490dc" stroke-width="1" />
    </svg>
  </div>
</template>

<script>
  export default {

    props: ['histories'],

    data: () => ({
      chartData: null,
      width: 0,
      height: 0,
      xPadding: 50,
      yPadding: 50,
      graphPath: '',
      xAxis: [],
      yAxis: [],
    }),

    methods: {
      updateChart() {
        this.chartData = null;
        const histories = this.histories.filter((history) => !!history.rate);
        if (!histories.length)
          return;

        this.width = this.$refs.container.clientWidth;
        this.height = this.$refs.container.clientHeight;
        const width = this.width - this.xPadding * 2;
        const height = this.height - this.yPadding * 2;

        const minDate = new Date(histories[0].date).getTime();
        const maxDate = new Date(histories[this.histories.length - 1].date).getTime();
        const dayMilliSeconds = 1000 * 60 * 60 * 24;
        const totalDates = Math.round((maxDate - minDate) / dayMilliSeconds);
        const xMin = minDate;
        const xStep = Math.ceil(totalDates / 5);
        const xPointCount = Math.ceil(totalDates / xStep);
        const xMax = xMin + xStep * xPointCount * dayMilliSeconds;
        const xRange = xStep * xPointCount;

        const rates = histories.map((history) => history.rate);
        const minRate = Math.min(...rates);
        const maxRate = Math.max(...rates);
        let distance = maxRate - minRate;
        let step = distance / 7;
        let scale = 1;
        while (step > 10) {
          step /= 10;
          scale /= 10;
        }
        while (step < 1) {
          step *= 10;
          scale *= 10;
        }
        step = Math.ceil(step);
        let yMin = Math.floor(minRate * scale / step) * step;
        const yPointCount = Math.ceil((maxRate * scale - yMin) / step);
        const yMax = (yMin + yPointCount * step) / scale;
        const yStep = step / scale;
        yMin = yMin / scale;
        const yRange = yMax - yMin;

        this.chartData = [];
        const pointCount = Math.min(80, histories.length);
        for (let i = 0; i < pointCount; i ++) {
          const history = histories[Math.round(i * histories.length / pointCount)];
          const xValue = Math.round((new Date(history.date).getTime() - xMin) / dayMilliSeconds);
          const xPos = this.xPadding + (xValue / xRange) * width;
          const yValue = history.rate;
          const yPos = this.yPadding + (yMax - yValue) / yRange * height;

          this.chartData.push({
            xValue,
            yValue,
            xPos,
            yPos,
          });
        }

        this.graphPath = this.chartData.map((point) => `${point.xPos},${point.yPos}`).join(' ');

        this.xAxis = [];
        for (let i = 0; i <= xPointCount; i ++) {
          this.xAxis.push({
            label: new Date(xMin + xStep * i * dayMilliSeconds + dayMilliSeconds / 2).toLocaleDateString(),
            pos: this.xPadding + (i / xPointCount) * width,
          });
        }
        this.yAxis = [];
        for (let i = 0; i <= yPointCount; i ++) {
          this.yAxis.push({
            label: yMin + yStep * i,
            pos: this.yPadding + (yPointCount - i) / yPointCount * height,
          });
        }

        console.log(this.chartData, this.graphPath);
      },
      formatNumber(number) {
        return Math.round(number * 10000) / 10000;
      },
    },

    watch: {
      histories() {
        this.updateChart();
      },
    },

    mounted() {
      this.updateChart();
    },
  }
</script>

<style scoped>
</style>
